#cot_1 {
  /* height: 500px; */
  background-color: #0000ff;
  /* border: 1px black solid; */
}

#cot_1 .box_top {
  padding-bottom: 20px;
}

ul {
  list-style-type: none;
}
#cot_2 {
  /* height: 500px; */
  background-color: #0000ff;
  /* border: 1px black solid; */
}

#cot_3 {
  /* height: 500px; */
  background-color: #0000ff;
  /* border: 1px black solid; */
}
.box_top {
  width: 100%;

  /* height: fit-content; */
  min-height: 100px;
  background-color: #f0f8ff;
}
.box_bot {
  margin-top: 12px;
  width: 100%;

  /* height: fit-content; */
  min-height: 100px;
  background-color: #f0f8ff;
}
.box {
  width: 100%;

  /* height: fit-content; */
  min-height: 100px;
  background-color: #f0f8ff;
}

#cot_3 .box {
  padding-bottom: 20px;
}

#cot_3 h1 {
  color: #f0f8ff;
  font-size: 30px;
  background-color: #9e88ff;
  border-radius: 50%;
  border: 2px gray solid;
  margin-top: 24px;
}

#cot_1 h4,
#cot_2 h4,
#cot_3 h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.box_icon {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.box_top > div,
.box_bot > div,
.box > div {
  margin-left: 24px;
  margin-right: 24px;
}

#cot_1 .box_top > div,
.box > div ul {
  border-bottom: 1px black dashed;
  padding-bottom: 20px;
}

i {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  /* pt-4 pb-3 ms-4 me-4 */
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px black solid;
  color: blue !important;
}

#span_info {
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .box_top {
    height: 50% !important;
  }
  .box_bot {
    height: calc(50% - 12px) !important;
  }
}
@media (max-width: 767px) and (min-width: 1200px) {
}
